doctype html
html(lang="en")
  head
    title aniv
    link(href="./assets/styles/application.css",rel="stylesheet")
    meta(name="viewport",content="width=device-width, initial-scale=1")
  body
    nav.navbar.navbar-default.navbar-static-top
      .container
        .navbar-header
          a.navbar-brand aniv

    .container
      .jumbotron
        h1 Title!

